 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Cal AIDS/Lifecycle team brings together all of the UC Berkeley staff, students, faculty, alumni, and their friends who are raising money to support the San Francisoc AIDS Foundation and the Los Angeles LGBT Center as part of AIDS/Lifecycle.</p>
                </div>
                <div class="col-lg-4">
                    <p>Have you heard of UC Berkeley? Do you want to make the world a better place by raising money to eliminate the stigma associated with HIV and AIDS? Do you want to see the beautiful California countryside between San Francisco and Los Angeles? YOU'RE IN!</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
